# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (DO NOT COMMIT)
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
